/* common */
.h_flex {
    display: -ms-flexbox;
    display: flex;
}
.v_flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
.section_container {
    padding: 10px 0;
    margin: 10px 0 0 0;
}
.section_title {
    font-size: 23px;
    font-weight: bold;
}
/* end of common */

/* resturant list */
.section_container .resturant_list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}
.section_container .resturant_item {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 10px #eee;
    width: 170px;
    cursor: default;
}
.section_container .delete_item {
    height: 23px;
    width: 23px;
    float: right;
    cursor: pointer;
}
.section_container .delete_item:hover .icon {
    background-image: url(/images/delete_black.svg);
}
.section_container .delete_item .icon {
    height: 23px;
    width: 23px;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    background-image: url(/images/delete.svg);
    background-position: center;
    padding: 5px;
}
.section_seperator {
    margin: 10px 0 20px 0;
    border-top: 1px solid #ccc;
}
/* end of resturant list */

/* selector section */
.resturant_selector_container .selector {
    margin: 10px 0;
}
.resturant_selector_container .selected_choices {
    padding: 5px 10px;
    border: 1px solid #ccc;
}
.resturant_selector_container .selected_choices .result_row {
    padding: 5px 0;
}
.resturant_selector_container .selected_choices .result_id {
    font-size: 18px;
}
/* end of selector */